.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.env
.mypy_cache/
.pytest_cache/
.migrations_cache/
.vscode/
.idea/
venv/
.envrc
.molecules_cache/

# uploads locais (vamos usar volume nomeado no compose)
molecules/
